/*Mobile and Global*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    height: 90vh;
    background-image:url(bloom/bloom_sign.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: whitesmoke;
    text-align: center;
    padding: 30px;
}

nav li {
    padding: 10px;
    font-size: 1.5em;
    font-weight: 600; 
}

nav li a{
    color: mediumpurple;
    text-decoration: none;
}

nav li:hover {
    background: yellow;
}

nav li a:hover {
    color: red;
    text-decoration: line-through;
}

h1 {
    font-size: 4em;
    font-weight: 800;
    color: black;
    text-align: center;
    padding: 50px;
    text-shadow: 2px 2px white;
}

h2 {
    margin-top: 2%;
    font-size: 1.5em;
    font-weight: 800;
    text-align: center;
    padding: 30px;
}

#line {
    margin: 0 0.5rem;
    border-bottom: 6px dashed red;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#bloom-scene img, #bloom-scene2 img, #sign img{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 5%;
}

#bloom-scene img {
    margin-top: 5%;
}

#bloom-scene2 img, #sign img{
    margin-top: 10%;
    margin-bottom: 10%;
}

#about2 {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 60%;
    font-size: 0.9em;
    line-height: 1.3em;
}

/*parent container*/
div.grid {
    margin-top: 1%;
    display: grid;
    grid-template-columns: 1fr;
    /*shortcut for even columns*/
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

/*container*/
#square {
    display: flex;
    padding: 10px;
    min-height: 100px;
}

#square img{
    width: 100%;
}

video {  
    outline: none;
    background-color: whitesmoke;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 20px;
    display: flex;
}

table {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    background-color:whitesmoke;
    line-height: 2.2em;
    text-align:left;
    margin-top: 20px;
    margin-bottom: 30px;
    width:90%;
}

th {
    color: mediumpurple;
    font-size: 1.75em;
    padding-bottom: 10px;
    }

td {
    font-size: 1.1em;
    padding-right: 100px;
}

td a{
    color: hotpink;
    font-weight: 500;
}

td a:hover{
    color: blue;
    font-weight: 500;
}

/*Destop Style*/

@media only screen and (min-width: 900px)
{
   
header {
    height: 70vh;
}
    
h1 {
    font-size: 5em;
}
    
h2 {
    font-size: 2em;
}
    
#bloom-scene img {
    width: 70%;
    margin-bottom: 2%;
}

#bloom-scene2 img, #sign img{
    width: 70%;
}

#about2 {
    font-size: 1em;
    line-height: 1.4em;    
}
    
  /*parent container*/
div.grid {
    grid-template-columns: 1fr 1fr;
    /*shortcut for even columns*/
    grid-template-columns: repeat(2, 1fr);
}

/*container*/
#square {
    padding: 30px;
}  
    
video { 
    width: 80%;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}  
    
}
